/* WRAPPER */
.contact-wrapper {
    padding-top: 40px;
}

/* TITLE */
.contact-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.contact-title span {
    font-weight: 400;
    color: #6f6f6f;
}

/* MAIN CONTAINER */
.contact-container {
    display: flex;
    height: 83vh;
    width: 100%;
}

/* LEFT PANEL */
.left-panel {
    width: 50%;
    background: #e2dddd;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    width: 80%;
}

.form-row {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

.input {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: none;
    background: #fff;
    font-size: 14px;
}

.textarea {
    width: 100%;
    height: 180px;
    padding: 14px;
    border-radius: 8px;
    border: none;
    background: #fff;
    font-size: 14px;
    resize: none;
    margin-bottom: 25px;
}

.btn-kirim {
    padding: 10px 35px;
    background: #b7aaaa;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

/* RIGHT PANEL */
.right-panel {
    width: 50%;
    background-image: url('./img/bg-contact.png');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* QR BOX */
.qr-box {
    width: 320px;
    height: auto;
    background: #fff;
    padding: 30px 25px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    top: -20px;
}

.qr-title {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 500;
}

.qr-image {
    width: 220px;
    margin-bottom: 20px;
}

.btn-wa {
    width: 100%;
    padding: 12px;
    background: #f2f2f2;
    border-radius: 12px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}
